.course {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.box {
  background-color: aquamarine;
  width: 200px;
  height: 200px;
}

.box-1 {
  background-color: rgb(127, 214, 255);
  width: 200px;
  height: 200px;
}
/* 
.box {s
  width: 200px;
  height: 200px;
  background-color: white;
} */
