@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* form */
  .form {
    @apply max-w-[400px] w-full mx-auto shadow-xl p-8 rounded-md border-t-[#10ac84] border-t-4;
  }

  .form-h3 {
    @apply text-2xl text-center font-bold text-[#10ac84];
  }

  .form-input {
    @apply rounded-md mt-2 p-2 border border-gray-300  focus:outline-[#10ac84] outline-1 text-gray-600;
  }

  .form-btn {
    @apply w-full bg-[#10ac84] mt-3 mb-2 text-white pt-2 rounded-md text-lg hover:bg-[#5ccaae];
  }

  /* sidebar */
  .sidebar-btn {
    @apply bg-green-400 text-white pt-2 mx-20 rounded-md text-lg hover:bg-[#5ccaae] hover:shadow-md mb-3 relative md:mx-10;
  }

  .sidebar-icon {
    @apply absolute left-[10%] top-[30%];
  }
}

@import url("https://fonts.googleapis.com/css2?family=Padauk&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Padauk", sans-serif;
  background-color: rgb(247, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
