@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* global */
  .btn {
    @apply text-lg my-5 py-2 px-12 text-white rounded-md bg-green-400 hover:bg-green-500;
  }
  /* form */
  .form {
    @apply max-w-[400px] w-full mx-auto shadow-xl p-8 rounded-md border-t-[#10ac84] border-t-4;
  }

  .form-h3 {
    @apply text-2xl text-center font-bold text-[#10ac84];
  }

  .form-input {
    @apply rounded-md mt-2 p-2 border border-gray-300  focus:outline-[#10ac84] outline-1 text-gray-600;
  }

  .form-btn {
    @apply w-full bg-[#10ac84] mt-3 mb-2 text-white pt-2 rounded-md text-lg hover:bg-[#5ccaae];
  }

  /* sidebar */
  .sidebar-btn {
    @apply bg-green-400 text-white py-1 mx-20 rounded-md text-lg hover:bg-[#5ccaae] hover:shadow-md mb-3 relative md:mx-10;
  }

  .sidebar-icon {
    @apply absolute left-[10%] top-[30%];
  }

  /* hero */
  .hero {
    @apply absolute top-[20%] left-[50%] -translate-x-[50%] h-full max-w-lg text-center md:max-w-xl md:left-[35%] md:top-[30%] md:text-start lg:left-[30%];
  }

  /* compliments */
  .com-icon {
    @apply mr-3 text-5xl text-white bg-green-400 p-2 rounded-full;
  }

  .com-header-1 {
    @apply text-xl mt-2 text-gray-700;
  }

  /* technology */
  .tech-box {
    @apply p-4 rounded-md shadow-lg items-center flex flex-col;
  }

  .tech-icon {
    @apply text-[4rem];
  }
}

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Quicksand", sans-serif;
  background-color: rgb(250, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
